.jumbotron {
    background-image: url("https://picsum.photos/id/185/1800/800");
    background-size: cover;
    background-position: center;
    margin-bottom: 1px;
}

.carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    height: 300px;
    object-fit: cover;
    bottom: o;
    left: 0;
    min-height: 500px;
}

.social {
    justify-content: space-around;
}

.card-deck {
    display: absolute;
    margin: 10px;
}